### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [170]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [171]:
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [172]:
# Check to see if a player purchased multiple times
# player = purchase_data["SN"].value_counts()
# player.head()

In [173]:
player_count = len(purchase_data["SN"].unique())
# player_count

In [174]:
player_count_df = pd.DataFrame({"Total Players": [player_count]})
player_count_df

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [175]:
# Check to see if items are purchased multiple times
# items_name = purchase_data["Item Name"].value_counts()
# items_name.head()

In [176]:
unique_item_count = len(purchase_data["Item Name"].unique())
# unique_item_count

In [177]:
average_price = purchase_data["Price"].mean()
# average_price

In [178]:
purchase_count = purchase_data["Purchase ID"].count()
# purchase_count

In [179]:
revenue = purchase_data["Price"].sum()
# revenue

In [180]:
summary_df = pd.DataFrame({"Number of Unique Items":[unique_item_count],
                          "Average Price":[average_price],
                          "Number of Purchases":[purchase_count],
                          "Total Revenue":[revenue]})
# summary_df

In [181]:
# Checked average price's type and found it's object, and changed it to numeric
# summary_df.dtypes

In [182]:
summary_df["Average Price"]= pd.to_numeric(summary_df["Average Price"])

In [183]:
summary_df["Average Price"] = summary_df["Average Price"].astype(float).map("${:,.2f}".format)
summary_df["Total Revenue"] = summary_df["Total Revenue"].astype(float).map("${:,.2f}".format)
summary_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780     $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [184]:
# Called csv dataframe again for view, so I didn't have to scroll up all the way
# purchase_data.head()

In [185]:
gender_demographics = purchase_data[["SN","Gender"]]
# gender_demographics

In [186]:
updated_gender_demographics = gender_demographics.drop_duplicates()
# updated_gender_demographics

In [187]:
gender_list = list(updated_gender_demographics["Gender"].unique())
# gender_list

In [188]:
# Reorder the gender list
updated_gender_list = ["Male", "Female", "Other / Non-Disclosed"]
# updated_gender_list

In [189]:
male_count = len(updated_gender_demographics[updated_gender_demographics["Gender"] == "Male"])
# male_count

In [190]:
female_count = len(updated_gender_demographics[updated_gender_demographics["Gender"] == "Female"])
# female_count

In [191]:
others_count = len(updated_gender_demographics[updated_gender_demographics["Gender"] == "Other / Non-Disclosed"])
# others_count

In [192]:
player_count = len(purchase_data["SN"].unique())
# player_count

In [193]:
total_count = [male_count,
             female_count,
             others_count]
# total_count

In [194]:
gender_percentage = [(male_count/player_count)*100,
             (female_count/player_count)*100,
            (others_count/player_count)*100]
# gender_percentage

In [195]:
gender_demographics_df = pd.DataFrame({"": updated_gender_list,"Total Count": total_count,
                                       "Percentage of Players": gender_percentage})
# gender_demographics_df

In [196]:
gender_demographics_df.set_index("", inplace=True)
# gender_demographics_df

In [197]:
# Checked percentage of player's type and found it's object, and changed it to numeric
# gender_demographics_df.dtypes

In [198]:
gender_demographics_df["Percentage of Players"]= pd.to_numeric(gender_demographics_df["Percentage of Players"])

In [199]:
gender_demographics_df["Percentage of Players"] = gender_demographics_df["Percentage of Players"].astype(float).map("{:,.2f}%".format)
gender_demographics_df

                       Total Count Percentage of Players

Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [200]:
# purchase_data

In [201]:
gender_group = purchase_data.groupby("Gender")
# gender_group.head()

In [202]:
purchase_count = gender_group["Purchase ID"].count()
# purchase_count

In [203]:
average_purchase = gender_group["Price"].mean()
# average_purchase

In [204]:
total_purchase = gender_group["Price"].sum()
# total_purchase

In [205]:
# Utilizing the unique gender count from the previous section, and organized based on the order of genders in this section
total_count_pa = [female_count,
               male_count,
             others_count]
# total_count_pa

In [206]:
avg_total_purchase = total_purchase/total_count_pa
# avg_total_purchase

In [207]:
purchase_analysis_gender_df = pd.DataFrame ({"Purchase Count": purchase_count,
                                            "Average Purchase Price": average_purchase,
                                            "Total Purchase Value": total_purchase,
                                            "Average Purchase Total per Person": avg_total_purchase })
# purchase_analysis_gender_df

In [208]:
purchase_analysis_gender_df["Average Purchase Price"] = purchase_analysis_gender_df["Average Purchase Price"].astype(float).map("${:,.2f}".format)
purchase_analysis_gender_df["Total Purchase Value"] = purchase_analysis_gender_df["Total Purchase Value"].astype(float).map("${:,.2f}".format)
purchase_analysis_gender_df["Average Purchase Total per Person"] = purchase_analysis_gender_df["Average Purchase Total per Person"].astype(float).map("${:,.2f}".format)
purchase_analysis_gender_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Average Purchase Total per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [209]:
# purchase_data

In [210]:
new_purchase_data=purchase_data.drop_duplicates(subset=["SN"])
# new_purchase_data

In [211]:
age_bins = [0, 9.9, 14.9, 19.9, 24.9, 29.9, 34.9, 39.9, 50]
age_labels = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

In [212]:
age_purchase_data = new_purchase_data.copy() #use copy() to avoid settingwithcopywarning

In [213]:
age_purchase_data["Age Group"]=pd.cut(new_purchase_data["Age"], age_bins, labels= age_labels)
# age_purchase_data

In [214]:
# Checked the column names
# age_purchase_data.columns

In [215]:
new_columns = ["SN","Age Group"]

In [216]:
new_age_purchase_data= age_purchase_data[new_columns]
# new_age_purchase_data

In [217]:
organized_age_purchase_data=new_age_purchase_data.groupby("Age Group")
# organized_age_purchase_data

In [218]:
age_group_SN = organized_age_purchase_data.count()
# age_group_SN

In [219]:
age_group = age_labels
#age_group

In [220]:
total_count = list(age_group_SN["SN"])
# total_count

In [221]:
total_players = new_purchase_data["SN"].count()
# total_players

In [222]:
percentage_players = (total_count/total_players) *100
# percentage_players

In [223]:
age_demographics_df = pd.DataFrame ({"": age_group, 
                                     "Total Count": total_count, 
                                     "Percentage of Players": percentage_players})
# age_demographics_df

In [224]:
age_demographics_df.set_index("", inplace=True)
# age_demographics_df

In [225]:
age_demographics_df["Percentage of Players"] = age_demographics_df["Percentage of Players"].astype(float).map("{:,.2f}%".format)
age_demographics_df

       Total Count Percentage of Players

<10             17                 2.95%
10-14           22                 3.82%
15-19          107                18.58%
20-24          258                44.79%
25-29           77                13.37%
30-34           52                 9.03%
35-39           31                 5.38%
40+             12                 2.08%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [226]:
# purchase_data

In [227]:
age_bins = [0, 9.9, 14.9, 19.9, 24.9, 29.9, 34.9, 39.9, 50]
age_labels = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

In [228]:
age_purchase_analysis_data = purchase_data
# age_purchase_analysis_data

In [229]:
age_purchase_analysis_data ["Age Ranges"]=pd.cut(age_purchase_analysis_data ["Age"], age_bins, labels= age_labels)
# age_purchase_analysis_data

In [230]:
age_groupby_purchase_data = age_purchase_analysis_data.groupby("Age Ranges")

In [231]:
purchase_count = age_groupby_purchase_data.count()
# purchase_count

In [232]:
avg_purchase_price = age_groupby_purchase_data["Price"].mean()
# avg_purchase_price

In [233]:
total_purchase_value = age_groupby_purchase_data["Price"].sum()
# total_purchase_value

In [234]:
# Utilizing each age group's non-repeated total count from the last section
purchase_analysis_total_count = total_count
# purchase_analysis_total_count

In [235]:
avg_total_purchase = total_purchase_value/purchase_analysis_total_count
# avg_total_purchase

In [236]:
age_purchase_analysis_df = pd.DataFrame ({"Purchase Count":purchase_count["Purchase ID"],
                                         "Average Purchase Price": avg_purchase_price,
                                         "Total Purchase Value": total_purchase_value,
                                         "Average Purchase Total per Person":avg_total_purchase})
# age_purchase_analysis_df

In [237]:
age_purchase_analysis_df["Average Purchase Price"] = age_purchase_analysis_df["Average Purchase Price"].astype(float).map("${:,.2f}".format)
age_purchase_analysis_df["Total Purchase Value"] = age_purchase_analysis_df["Total Purchase Value"].astype(float).map("${:,.2f}".format)
age_purchase_analysis_df["Average Purchase Total per Person"] = age_purchase_analysis_df["Average Purchase Total per Person"].astype(float).map("${:,.2f}".format)
age_purchase_analysis_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Average Purchase Total per Person
Age Ranges,,,,
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,"$1,114.06",$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [238]:
# purchase_data

In [239]:
user_count = purchase_data.groupby(["SN"]).count()["Price"].rename("Purchase Count")
# user_count

In [240]:
unique_player_spenders = purchase_data.drop_duplicates(subset="SN")
#unique_player_spenders

In [241]:
unique_player_spenders_list = unique_player_spenders["SN"]
#unique_player_spenders_list

In [242]:
unique_player_spenders_list_df = pd.DataFrame(unique_player_spenders_list)
# unique_player_spenders_list_df

In [243]:
unique_player_purchase_count = pd.merge(unique_player_spenders_list_df, user_count, on="SN")
# unique_player_purchase_count

In [244]:
top_spender = purchase_data.groupby("SN")

In [245]:
player_purchase_count_group = top_spender["Price"].mean()
# player_purchase_count_group

In [246]:
player_pay_sum = purchase_data.groupby(["SN"], as_index=False)["Price"].sum()
# player_pay_sum

In [247]:
player_pay_avg = purchase_data.groupby(["SN"], as_index=False)["Price"].mean()
# player_pay_avg

In [248]:
top_spender_merge_player_avg_purchase = pd.merge(unique_player_purchase_count,player_pay_avg, on="SN")
# top_spender_merge_player_avg_purchase

In [249]:
top_spender_merge_player_avg_purchase_total_purchase = pd.merge(top_spender_merge_player_avg_purchase,player_pay_sum, on="SN", suffixes=("_Average", "_Total"))
# top_spender_merge_player_avg_purchase_total_purchase

In [250]:
rename_top_spender_merge_player_avg_purchase_total_purchase = top_spender_merge_player_avg_purchase_total_purchase.rename(columns=
                                                                                                                                 {"Price_Average":"Average Purchase Price",
                                                                                                                                  "Price_Total":"Total Purchase Value"})
# rename_top_spender_merge_player_avg_purchase_total_purchase

In [251]:
rename_top_spender_merge_player_avg_purchase_total_purchase.set_index("SN", inplace=True)

In [252]:
total_spender_analysis =rename_top_spender_merge_player_avg_purchase_total_purchase.sort_values("Total Purchase Value", ascending=False)
# total_spender_analysis.head()

In [253]:
total_spender_analysis["Average Purchase Price"] = total_spender_analysis["Average Purchase Price"].astype(float).map("${:,.2f}".format)
total_spender_analysis["Total Purchase Value"] = total_spender_analysis["Total Purchase Value"].astype(float).map("${:,.2f}".format)
total_spender_analysis.head()

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [254]:
# purchase_data

In [255]:
popular_items = purchase_data.groupby(["Item ID", "Item Name"])

In [256]:
item_count = purchase_data.groupby(["Item ID","Item Name"]).count()["Price"].rename("Purchase Count")
#item

In [257]:
# Reset index so I can merge the dataframes later
reset_index_popular_item_count = item_count.reset_index()
# reset_index_popular_item_count

In [258]:
item_price = popular_items["Price"].mean()
# item_price

In [259]:
total_purchase = popular_items["Price"].sum()
# total_purchase

In [260]:
popular_item_merge = pd.merge(reset_index_popular_item_count, item_price, on="Item ID", how="inner")
# popular_item_merge

In [261]:
popular_item_merge2 = pd.merge(popular_item_merge,total_purchase, on="Item ID")
# popular_item_merge2

In [262]:
rename_most_popular_items_df = popular_item_merge2.rename(columns={"Price_x":"Item Price",
                                                           "Price_y": "Total Purchase Value"})
# rename_most_popular_items_df

In [263]:
rename_most_popular_items_df.set_index("Item ID", inplace=True)

In [264]:
most_popular_items_df =rename_most_popular_items_df.sort_values("Purchase Count", ascending=False)
#most_popular_items_df

In [265]:
most_popular_items_df["Item Price"] = most_popular_items_df["Item Price"].astype(float).map("${:,.2f}".format)
most_popular_items_df["Total Purchase Value"] = most_popular_items_df["Total Purchase Value"].astype(float).map("${:,.2f}".format)
most_popular_items_df.head()

,Item Name,Purchase Count,Item Price,Total Purchase Value
Item ID,,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
132,Persuasion,9,$3.22,$28.99
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [266]:
most_profitable_items = rename_most_popular_items_df.sort_values("Total Purchase Value", ascending=False)
# most_profitable_items.head()

In [267]:
most_profitable_items["Item Price"] = most_profitable_items["Item Price"].astype(float).map("${:,.2f}".format)
most_profitable_items["Total Purchase Value"] = most_profitable_items["Total Purchase Value"].astype(float).map("${:,.2f}".format)
most_profitable_items.head()

,Item Name,Purchase Count,Item Price,Total Purchase Value
Item ID,,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
103,Singed Scalpel,8,$4.35,$34.80